encryption = "age"
sourceDir = {{ .chezmoi.sourceDir | quote }}

[age]
identity = "~/.config/chezmoi/key.txt"
recipient = "age1qsf00af2hm3y6dkvxvftajk93aw4n3u5n8vj3wn9psag3p8nhs7qkkztes"
{{ $brewPath := findExecutable "brew" (list "/opt/homebrew/bin" "/home/linuxbrew/.linuxbrew/bin/" "/usr/local/bin/") -}}

[data]
{{- if $brewPath }}
{{/* store homebrew path, or lack of homebrew */ -}}
brewPath = {{ $brewPath | quote }}
{{- else }}
brewPath = false
{{- end}}

{{- if (eq .chezmoi.os "linux") }}
{{/* some linux distros use idLike, some don't,
       so set it if it doesn't exist */}}
{{- if (ne (get .chezmoi.osRelease "idLike") "") }}
idLike = {{ .chezmoi.osRelease.idLike | quote }}
{{- else -}}
idLike = {{ .chezmoi.osRelease.id | quote }}
{{- end}}
{{- end}}
