[user]
	name = Rufo Sanchez
	email = rufo@rufosanchez.com
[init]
	defaultBranch = main
[github]
	user = rufo
[push]
	default = simple
[credential "https://github.com"]
	helper = !gh auth git-credential
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[pull]
	ff = only
[commit]
	verbose = true
[credential "https://forgejo.home.ru.fo"]
    oauthClientId = a4792ccc-144e-407e-86c9-5e7d8d9c3269
    oauthAuthURL = /login/oauth/authorize
    oauthTokenURL = /login/oauth/access_token
    helper = osxkeychain
    helper = cache --timeout 86400
    helper = oauth
{{- if lookPath "delta" }}
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
[merge]
	conflictStyle = zdiff3
{{- end }}
