{{- /* 1. Get the Git internal execution path */ -}}
{{- $gitExecPath := and (lookPath "git") (output "git" "--exec-path" | trim) -}}

{{- /* 2. Define helper names based on OS */ -}}
{{- $osHelper := "" -}}
{{- if eq .chezmoi.os "darwin" -}}
    {{- $osHelper = "git-credential-osxkeychain" -}}
{{- else if eq .chezmoi.os "linux" -}}
    {{- $osHelper = "git-credential-libsecret" -}}
{{- end -}}

[user]
	name = Rufo Sanchez
	email = rufo@rufosanchez.com
[init]
	defaultBranch = main
[github]
	user = rufo
[push]
	default = simple
{{- if (lookPath "gh") }}
[credential "https://github.com"]
	helper = !gh auth git-credential
{{- end }}
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[pull]
	ff = only
[commit]
	verbose = true
{{- if (lookPath "git-credential-oauth") }}
[credential "https://forgejo.home.ru.fo"]
    oauthDeviceName = "{{ .chezmoi.hostname }} (git-credential-oauth)"
    helper =
    {{- /* Check if the OS helper exists in the Git Exec Path or the system PATH */}}
    {{- if or (stat (joinPath $gitExecPath $osHelper)) (lookPath $osHelper) }}
    helper = {{ $osHelper | trimPrefix "git-credential-" }}
    {{- else if eq .chezmoi.os "linux" }}
    helper = cache --timeout=3600
    {{- end }}
    helper = oauth
{{- else }}
; no oauth credential helper, skipping forgejo setup
{{- end }}
{{- if lookPath "delta" }}
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
[merge]
	conflictStyle = zdiff3
{{- end }}
