#!/bin/bash
{{ if .brewPath -}}
brew install zoxide
{{ else if eq .chezmoi.os "linux" -}}
{{ if eq .idLike "arch" -}}
sudo pacman -Sy --noconfirm --needed zoxide
{{ else if eq .idLike "debian" -}}
curl -sSfL https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/install.sh | sh
{{ end }}
{{ end }}
