#!/bin/bash
{{ if .brewPath -}}
brew install atuin
{{ else if eq .chezmoi.os "linux" -}}
{{ if eq .idLike "arch" -}}
sudo pacman -Sy --noconfirm --needed atuin
{{ else if eq .idLike "debian" -}}
curl --proto '=https' --tlsv1.2 -LsSf https://setup.atuin.sh | sh
{{ end }}
{{ end }}
