#!/bin/bash
echo "Installing fd..."
{{ if .brewPath -}}
brew install fd
{{ else if eq .chezmoi.os "linux" -}}
{{ if eq .idLike "arch" -}}
sudo pacman -Sy --noconfirm --needed fd
{{ else if eq .idLike "debian" -}}
TMP_DEB=$(mktemp)
curl -L {{ gitHubLatestReleaseAssetURL "sharkdp/fd" (printf "fd_*_%s.deb" .chezmoi.arch) }} -o "$TMP_DEB"
sudo dpkg -i "$TMP_DEB"
rm -f "$TMP_DEB"
{{ else -}}
echo "TODO: Can't install fd from release yet"
# TODO: need to map amd64 to x86_64 somewhere
exit 1
mkdir -p $HOME/.local/bin
curl -L {{ gitHubLatestReleaseAssetURL "sharkdp/fd" (printf "fzf-*-%s_%s.tar.gz" .chezmoi.os .chezmoi.arch) }} | tar -xz -C ~/.local/bin
{{- end -}}
{{- end -}}
